<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEM</title>
<link rel = "stylesheet" href="./public/style.css">
</head>
<body>

</body>

    <header>
        <h1>Event List</h1>
        <ul>

        </ul>
    </header>
    <main>
    </main>
<h1>Upcoming Events</h2>
<ul>
    <% events.forEach(event => { %>
    <li>
        <a href="/events/<%= event.id %>"><%= event.type %> - <%= event.date %></a>
    </li>
    <% }) %>
  <% }) %>
</ul>

<h2>Add New Event</h2>
<form action="/events" method="POST">
  <label for="type">Event Name:</label>
  <input type="text" id="type" name="type" required>
  <label for="date">Date:</label>
  <input type="date" id="date" name="date" required>
  <label for="description">Location:</label>
  <textarea id="description" name="description" required></textarea>
  <button type="submit">Add Event</button>
</form>

</body>
</html>

<!-- <%- include('layout') %>
<h2><%= event.name %></h2>
<p>Date: <%= event.date.toDateString() %></p>
<p>Location: <%= event.location %></p>
<a href="/">Back to Events List</a> -->


    <!-- <script src = "index.js"></script> -->

    <!-- <div id="prime-list"></div> -->

    <!-- <script> </script> -->

